.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8vh;
  background-image: url(../../assets/StarBackground.png);
  z-index: 1;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.imgTitle {
  width: 12vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.nav-list {
  list-style-type: none;
  display: inline-flex;
  width: 75%;
  justify-content: space-around;
  align-items: center;
}

.nav-item {
  height: 10vh;
  width: 10vh;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.nav-link {
  padding-top: 3.5vh;
  font-family: "Permanent Marker";
  color: white;
  font-style: oblique;
  text-decoration: none;
}
