.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  background-image: url(../../assets/StarBackground.png);
  z-index: 1;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.imgTitle {
  width: 10em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nav-list {
  list-style-type: none;
  display: inline-flex;
  width: 75%;
  justify-content: space-around;
  align-items: baseline;
}

.nav-item {
  display: flex;
  justify-content: center;
  justify-items: center;
}

.nav-link {
  font-family: "Permanent Marker";
  color: white;
  font-style: oblique;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-link:hover{
  font-size: 1.6em;
  color: rgb(177, 75, 75);
}


@media  (max-width: 768px) {
  .nav{
    flex-direction: column;
  }

  .sticky{
    position: relative;
  }
}

@media  (max-width: 425px) {
  .imgTitle{
    padding: 0;
  }

  .nav{
    padding-top: 1.5em;
    flex-direction: column;
  }

  .nav-list{
    display: flex;
    flex-direction: column;
    width: auto;
    text-align: center;
    align-items: center;
    padding: 0;
  }

  .nav-item{
    margin: auto;
  }

  .sticky{
    position: relative;
  }
}